# Pandas II - Data Cleaning

_September 17, 2020_

Agenda today:
- Introduction to lambda function
- Introduction to data cleaning in pandas
- Combining DataFrames
- Optional Exercises

In [10]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

## Part I. Lambda function
lambda functions are known as anonymous functions in Python. It allows you to write one-line functions that are used together with `map()`, `filter()`.

Syntax of lambda function: `lambda arguments:expressions`.

In [11]:
# lambda function with one argument
func_1 = lambda x:x+10
func_1(10)

20

In [14]:
(lambda x:x+10)(10) #another way to do above^

20

In [13]:
# lambda function with multiple arguments
func_2 = lambda x, y, z: x+y+z if z + y > x else x-y+z
func_2(10,12,10)

32

In [16]:
# exercise: turn the below function into a lambda function
def count_zeros(li):
    """
    return a count of how many zeros are in a list
    """
    count = sum(x == 0 for x in li)
    return count

In [17]:
count_zeros([1,2,4,0])

1

In [ ]:
map(function, collection)
filter(function, collection)

In [76]:
# your answer here
mapped = map(lambda x:x == 0,[1,1,2,4,0, 0])
next(mapped)
next(mapped)

False

In [77]:
lst = [1,2,4,0, 0]
result = list(filter(lambda x: x == 0, lst))
next(result)
next(result)
next(result)

TypeError: 'list' object is not an iterator

## Part II. Data Cleaning in Pandas
You might wonder what the usage of lambda functions are - they are incredibly useful when applied to data cleaning in Pandas. You can apply it to columns or the entire dataframe to get results you need. For example, you might want to convert a column with $USD to Euros, or temperature expressed in Celsius to Fehrenheit. You will learn three new functions:

- `Apply()` - on both series and dataframe

- `Applymap()` - only on dataframes

- `Map()` - only on series

In [57]:
# import the dataframe 
df = pd.read_csv('auto-mpg.csv')

In [58]:
# examine the first few rows of it 
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [59]:
# check the datatypes of the df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
mpg             398 non-null float64
cylinders       398 non-null int64
displacement    398 non-null float64
horsepower      398 non-null object
weight          398 non-null int64
acceleration    398 non-null float64
model year      398 non-null int64
origin          398 non-null int64
car name        398 non-null object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB

In [68]:
# check whether you have missing values
df.isna().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [ ]:
# creating new columns - broadcasting

In [ ]:
# check the dataframe

In [70]:
# time to use lambda and apply! with apply, applymap, and map, you never need to "iterate through the rows"

# create a function that takes in the weight as lbs, and return weight in tons 

# 1 lb = 0.0005


df['tonnage'] = df['weight'].apply(lambda x: x * 0.0005)
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name,tonnage
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu,1.7520
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320,1.8465
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite,1.7180
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst,1.7165
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino,1.7245
...,...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl,1.3950
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup,1.0650
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage,1.1475
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger,1.3125
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10,1.3600

In [71]:
#broadcasting

df['weight_broadcast'] = df['weight'] * 0.0005
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name,tonnage,weight_broadcast
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu,1.7520,1.7520
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320,1.8465,1.8465
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite,1.7180,1.7180
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst,1.7165,1.7165
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino,1.7245,1.7245
...,...,...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl,1.3950,1.3950
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup,1.0650,1.0650
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage,1.1475,1.1475
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger,1.3125,1.3125
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10,1.3600,1.3600

In [81]:
# exercise - create a new column called "years old", which determines how old a car is 

df['years_old'] = df['model_year'].apply(lambda x: 120 - x if x >= 70 else x)  #lambda function
#^useful because  you can chain conditionals 

df['year_old'] = 120 - df['model year'] #broadcasting

df

KeyError: 'model_year'

## Part III. Combining DataFrames in Pandas
There are two methods in Pandas that allow us to combine our DataFrames:

    - df.merge() - allow us to match dataframes on either indices or columns
    - df.concat() - allow us to concatenate two dataframes vertically or horizontally

In [2]:
# create some toy dataframes 
import pandas as pd
import numpy as np
small_grades = pd.DataFrame({"students":["Amelia","Justin W","Brendan"],
                          "projects":[1,2,1],
                          "grades":np.random.randint(80,100,3)})
small_quiz = pd.DataFrame({"students":["Billy","Cierra","Justin W"],
                            "quiz_score":np.random.randint(0,10,3)})

In [8]:
### df.concat 
combined = pd.concat([small_grades, small_quiz], axis = 1)

<img src = 'sql-joins.png' width = 400>

Based on the diagram above, what are the differences of different types of merge?

In [ ]:
### df.merge

# inner merge

In [ ]:
# outer merge

In [ ]:
# right merge

### Data Cleaning - level up with the adult dataset

Dataset documentation:
- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.

In [7]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data'
adults = pd.read_csv(url,header = None)

In [9]:
# Check the first few rows 
adults.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [ ]:
# add the columns to dataset
columns = ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital_status','occupation', 'relationship', 'race', 'sex', 'capital_gain', 'capital_loss', 'hours_per_week', 'native_country','income']

In [ ]:
# check the info of dataset

In [ ]:
# check missing values

In [ ]:
# perform some queries - find the total num female & bachelors

In [ ]:
# seems like we have data anolmaly, find out what that is and fix it 
# hint - tons of entries contain white space, remove it!

In [ ]:
# subsetting multiple cols

In [ ]:
# create a column called income_binary, 1 if >50k and 0 otherwise

In [ ]:
# get some descriptive statistics of the income distribution